<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.oblivion.bin_go">

    <application
            android:allowBackup="true"
            android:icon="@drawable/b_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/b_logo"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.oblivion.bin_go.MainActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.oblivion.bin_go.instructions"/>
        <activity android:name="com.oblivion.bin_go.inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>